.button-login {
  position: relative;
  left: 45%;
  width: auto;
  padding:0;
  margin:0;
  background:none;
  border:0;
  font-size:0;
  line-height:0;
  overflow:visible;
  cursor:pointer;
}

.button-login-icon {
  float: left;
  padding: 1px 0px 0px 4px;
}
